:root {
    --White: hsl(0, 0%, 100%);
    --gray: hsl(212, 45%, 89%);
    --blue: hsl(220, 15%, 55%);
    --Dark: hsl(218, 44%, 22%);
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--gray);
    padding: 20px;
    font-size: 15px;
}
.parent {
    background-color: var(--White);
    padding: 20px;
    border-radius: 10px;
    height: 500px;
    width: 320px;
}
img {
    width: 100%;
    height: 62%;
    border-radius: 10px;
}
h1 {
    font-family: 'Outfit', sans-serif;
    color: var(--Dark);
    font-size: 22px;
    text-align: center;
}
p {
    font-family: 'Outfit', sans-serif;
    color: var(--blue);
    margin: 25px 12px;
    text-align: center;
}

@media (max-width: 375px) {
    body {
        display: flex;
        justify-content: center;
        margin: 40px auto;
    }
}
@media (min-width: 375px) and (max-width: 1440px) {
    body {
        display: flex;
        justify-content: center;
        margin: 40px auto;
    }
}